##Options +FollowSymLinks All
RewriteEngine On

Options -Indexes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule  ^trang-chu$ index.php

RewriteRule  ^gioithieu-thietke-noithat$ index.php?thamso=gioi_thieu
RewriteRule  ^gioithieu-ve-(.*)-(.*)$ chitiet.php?thamso=chitiet_gioithieu&url=$1&id=$2

RewriteRule  ^thumua-nhaxuong$ chitiet.php?thamso=tin_sanpham
RewriteRule  ^thumua-docu-(.*)-(.*)$ chitiet.php?thamso=tin_sanphamct&url=$1&id=$2
RewriteRule  ^thu-mua-(.*)-(.*)$ chitiet.php?thamso=chitiet_tinsanpham&url=$1&id=$2

RewriteRule  ^sanphaminan-thechip$ chitiet.php?thamso=tin_sanphama
RewriteRule  ^sanphaminan-thechip-(.*)-(.*)$ chitiet.php?thamso=tin_sanphamact&url=$1&id=$2
RewriteRule  ^cung-cap/(.*)$ chitiet.php?thamso=tin_sanphamact&url=$1&id=$2
RewriteRule  ^tin-san-pham-(.*)-(.*)$ chitiet.php?thamso=chitiet_tinsanphama&url=$1&id=$2

RewriteRule  ^dichvu-inthe$ chitiet.php?thamso=tin_dichvu
RewriteRule  ^banggia-phelieu-(.*)-(.*)$ chitiet.php?thamso=tin_dichvuct&url=$1&id=$2
RewriteRule  ^dich-vu-(.*)-(.*)$ chitiet.php?thamso=chitiet_tindichvu&url=$1&id=$2
RewriteRule  ^dich-vu/([a-zA-Z0-9_-]+)/$ chitiet.php?thamso=tin_dichvuct&url=$1&id=$1
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ index.php?thamso=chitiet_tindichvu&url=$1&id=$2

RewriteRule  ^muaban-docubinhduong$ chitiet.php?thamso=tin_sanphamab
RewriteRule  ^muaban-docu-(.*)-(.*)$ chitiet.php?thamso=tin_sanphamabct&url=$1&id=$2
RewriteRule  ^san-pham-(.*)-(.*)$ chitiet.php?thamso=chitiet_tinsanphamab&url=$1&id=$2

RewriteRule  ^tintuc-inanthechip$ chitiet.php?thamso=tin_tintuc
RewriteRule  ^tintuc-inanthechip-(.*)-(.*)$ chitiet.php?thamso=tin_tintucct&url=$1&id=$2
RewriteRule  ^thong-tin-(.*)-(.*)$ chitiet.php?thamso=chitiet_tintintuc&url=$1&id=$2
RewriteRule  ^thong-tin-(.*)/(.*)$ chitiet.php?thamso=chitiet_tintintuc&url=$1&id=$2

RewriteRule  ^lien-he$ index.php?thamso=lien_he [L,QSA]

RewriteRule ^([a-zA-Z0-9_-]+)$ chitiet.php?thamso=tin_tintuc
RewriteRule  ^([a-zA-Z0-9_-]+).html$ chitiet.php?thamso=chitiet_tintintuc&url=$1&id=$1

RewriteRule  ^hinhanh-thumua$ index.php?thamso=doi_tac
RewriteRule  ^hinh-anh-(.*)-(.*)$ chitiet.php?thamso=chitiet_doitac&url=$1&id=$2

RewriteRule ^search/(.*)$ timkiem.php?q=$1 [L,QSA]
RewriteRule ^search/$ /index.php [L,R=301]

ErrorDocument 404 /404.php

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php81” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
